@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}

/* Estilos principales para .note-board */
.note-board {
  padding: 20px;
  background-color: #FEF3E2;
  border-radius: 8px;
  min-height: 500px;
  height: auto;
  position: relative;
}

/* Grid de notas responsivo */
.notes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
  justify-content: center;
  width: 100%;
  min-height: 500px; 
  row-gap: 54px;
}

/* Mostrar el botón de agregar nota (normal) en pantallas grandes */
.add-note-btn {
  background-color: #f7c5a0;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 20px;
  z-index: 10;
  box-shadow: none;
  width: auto;
  height: auto;
}

.add-note-btn img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

/* Estilo para el mensaje cuando no hay notas */
.no-notes-message {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  color: #b0b0b0;
  text-align: center;
  opacity: 0.7;
}

/* Botón flotante en pantallas pequeñas para se vea como móvil*/
@media (max-width: 768px) {
  .notes-grid {
    justify-content: center;
    row-gap: 45px;
  }

  .add-note-btn span {
    display: none;
  }

  .add-note-btn {
    background-color: #f7c5a0;
    border: none;
    width: 60px;
    height: 60px; 
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    margin: 20px; 
}


  .add-note-btn img {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 1px;
  }

  .add-note-btn span::before {
   display: none;
  }
}

  /* Estilos par que el contenedor de las notas crezca confrme se agregan */
  /* EL DETALLE ES Que SE Inicializa pequeño y queda parte balco que se tapa conforme crece */
  /* .note-board {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
  }
  
  .add-note-btn {
    background-color: #f7c5a0;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
   */