.note {
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  font-family: 'Noto Sans', sans-serif;
}

.note:hover {
  transform: scale(1.05);
}

.note-header h3 {
  margin: 0;
  font-size: 18px;
  font-family: 'Noto Sans', sans-serif;
}

.edit-btn, .delete-btn {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #555;
  font-size: 16px;
}

.edit-btn:hover, .delete-btn:hover {
  color: #C5705D;
}