/* Modal Overlay */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
  font-family: 'Noto Sans', sans-serif;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
  z-index: 2200; /* Aseguramos que esté encima de todo */
}

/* Animación del fondo */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Estilos del Modal */
.note-form {
  background-color: white; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
  width: 90%;
  max-width: 500px; 
  animation: slideIn 0.3s ease;
  z-index: 2200; /* Aseguramos que el modal esté por encima del overlay */
}
textarea {
  width: 100%; /* Hacer que ocupe todo el ancho del contenedor */
  max-width: 482px; /* Limitar el ancho máximo al contenedor */
  height: auto; /* Ajustar el alto automáticamente */
  resize: vertical; /* Permitir solo el ajuste vertical */
  overflow-wrap: break-word; /* Romper las palabras largas */
}

/* Animación del modal */
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Estilos del encabezado del modal */
.note-form h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #333;
}

/* Estilos de los inputs y textarea */
.note-form input,
.note-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  transition: border-color 0.3s;
  box-sizing: border-box;
}

/* Efecto al enfocar en inputs */
.note-form input:focus,
.note-form textarea:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilos de los botones */
.note-form .actions {
  display: flex;
  justify-content: space-between;
}

.note-form button {
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

/* Efecto al pasar el mouse sobre el botón */
.note-form button:hover {
  background-color: #0056b3;
}
