@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
  font-family: 'Noto Sans', sans-serif;
}

/*ESTILOS GENERALES DEL APP BAR Y ESPECIFICOS */
.toolbar {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
  }
  
  .app-title {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .app-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .add-note-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
 